# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caching
.pytest_cache/
.cache/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
.venv/
env/

# Node
node_modules/
.next/
out/
build/
dist/

# SQLite Database
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db
